<div class="jumbotron">
    <h1 class="display-4">Reku</h1>
    <p class="lead">This is a simple multiplayer coin collection game, collect more coins and rise up the rankings!</p>
    <hr class="my-4">
    <p>Welcome to Reku.</p>

    <p>Please log in or register if you do not have an account, to access the website.</p>

    <b>How to play the game: </b> <br> 
    <ul>    
        <li>Control the character with arrow keys or the joystick</li>
        <li>Point and click to shoot at other players to cost them 2 points</li>
        <li>Collect gold coins around the map to get 10 points</li>
        <li>Avoid bombs as each of them will cost you 5 points</li>
    </ul>

    <p>Credits for sprites to <a href="https://opengameart.org/">Open Game Art</a> and <a href="https://phasertutorials.com/how-to-create-a-phaser-3-mmorpg-part-1/">Zenva</a> phaser tutorials</p>

</div>